*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body{
    margin: 20px 10px;
}

.container{
    height: 95vh;
    width: 95vw;
    background-color: #202848;
    display:  flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
}
.question-container{
    height: 18vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    animation-name: name;
    animation-timing-function: cubic-bezier(0.7, 0.8, 0.9 ,1);
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    opacity: 0;
    transition: 0.2s;
}
.question-number{
    height: 5vh;
    width: 55%;
    display:  flex;
    justify-content: space-evenly;
    align-items: center;
}
.question-number > *{
    font-size: 25px;
    font-family: sans-serif;
    color: rgb(163, 163, 163);
    font-weight: bold;
}
.question{
    height: 10vh;
    width: 100%;
    display:  flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.question p{
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 2px;
    line-height: 20px;
    color: white;
    animation-name: name;
    animation-timing-function: cubic-bezier(0.7, 0.8, 0.9 ,1);
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-delay: 0.2s;
    opacity: 0;
    transition: 0.2s;
}

.options{
    height: 50vh;
    width: 100%;
    display:  flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.ans{
    height: 50px;
    width: 95%;
    border-radius: 20px;
    border: 3px solid  #1C466A;
    font-size: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana;
    line-height: 5px;
    letter-spacing: 1px;
    color: white;
}
.ans:nth-child(1){
    animation-name: name;
    animation-timing-function: cubic-bezier(0.7, 0.8, 0.9 ,1);
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-delay: 0.5s;
    opacity: 0;
    transition: 0.2s;
}
.ans:nth-child(2){
    animation-name: name;
    animation-timing-function: cubic-bezier(0.7, 0.8, 0.9 ,1);
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-delay: 1s;
    opacity: 0;
    transition: 0.2s;
}
.ans:nth-child(3){
    animation-name: name;
    animation-timing-function: cubic-bezier(0.7, 0.8, 0.9 ,1);
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-delay: 1.5s;
    opacity: 0;
    transition: 0.2s;
}
.click:hover{
    background-color: rgb(102, 241, 97);
}

.navigation{
    height: 10vh;
    width: 90%;
   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow-y: hidden;
 
}
.navigation button{
    padding: 25px 55px;
    font-size: 18px;
    border:  none;
    color: white;
    font-weight: bold;
    border-radius: 45px;
   
    background-color: #077FEC;
    animation-name: name;
    animation-timing-function: cubic-bezier(0.7, 0.8, 0.9 ,1);
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-delay: 2s;
    opacity: 0;
    transition: 0.2s;
}

.start{
    height: 250px;
    width: 100%;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.start h2{
    font-family: sans-serif;
    color: white;
}
.start input{
   background-color: #202848;
    padding: 8px 30px;
    font-size: 20px;
    outline: none;
    border: 1px solid #077FEC;
    color: white;
}
.start input:focus{
    border: 2px solid #077FEC;
    background-color: #202848;
}
.error{
    border: 1px solid rgb(252, 6, 6);
    background-color: #202848;
}


.start button:hover{
    background: white;

}
.btn{
    height: 100px;
    width: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.btn p{

    font-size: 25px;
    font-family: sans-serif;
    position: absolute;
   color: white;
    top: 40px;
    left: 25px;
}
.btn img{
   height: 150px;
  

}
.score{
    height: 150px;
    width: 150px;
    background-color: #077FEC;
    display:  flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    border-radius: 65px;
}
.score h3{
    font-size: 45px;
}
.score p{
    font-size: 20px;
}


@keyframes name {
    0%{
        opacity: 0;
        transform: translateY(200px);

    }
    25%{
        opacity: 0;
        transform: translateY(100px);
    }
    50%{
        opacity: 0.5;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px)
    }
    
}